/*
Orange color: #e67e22

*/

/*--------------------------------------------------------*/
/*         Basic Setup*/
/*--------------------------------------------------------*/

header {
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  background-color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*-------------------------------------------------------*/
/*                 Reusable Components
/*-------------------------------------------------------*/

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------------------------*/
/*                     Paragraphs
/*-------------------------------------------------------*/

p {
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 200%;
}

/*-------------------------------------------------------*/
/*                      Headings
/*-------------------------------------------------------*/

h1 {
  color: #fff;
  word-spacing: 1px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 260%;
  font-weight: 10;
  text-transform: uppercase;
}

h2 {
  word-spacing: 1px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 10;
  font-size: 170%;
  text-transform: uppercase;
}

.h2-formater {
  text-align: center;
  margin-top: 40px;
}

h2:after {
  content: " ";
  display: inline-block;
  border-top: 2px #e67e22 solid;
  width: 16%;
  transform: translate(-5%);
}

h3 {
  font-weight: 10;
  font-size: 130%;
  word-spacing: 1px;
  letter-spacing: 1px;
}

/*-------------------------------------------------------*/
/*                      Buttons
/*-------------------------------------------------------*/

.btn {
  margin-top: 16px;
  transform: translate(-6%, 10%);
}

.btn a {
  margin: 0;
  border-radius: 50px;
  border: 1px #db9411 solid;
  margin-right: 30px;
  padding: 10px 30px 10px 30px;
}

.btn-full {
  background-color: #e67e22;
  text-decoration: none;
  color: white;
}

.btn-ghost {
  text-decoration: none;
  color: #db9411;
}

.btn-full:hover,
.btn-full:active {
  background-color: rgba(230, 126, 34, 0.8);
  color: #dddddd;
  border: 1px #e67e22 solid;
  transition: background-color 0.5s, border 0.5s;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #dddddd;
  background-color: rgba(230, 126, 34, 0.8);
  border: 1px rgba(230, 126, 34, 0.8) solid;
  transition: background-color 0.5s, border 0.5s;
}

/*-------------------------------------------------------*/
/*                      Header*/
/*-------------------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(img/Omnifood-contents/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#first-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
  width: 60%;
}

.nav-items {
  list-style: none;
  float: right;
  color: #ffffff;
  display: inline-block;
  margin-right: 40px;
  margin-top: 50px;
}

.list-nav {
  float: left;
  margin-right: 30px;
  font-size: 130%;
}

nav img {
  width: 120px;
  margin: 20px 40px;
}

.nav-items a {
  border-bottom: 1px transparent solid;
  color: white;
  display: inline-block;
  font-size: 90%;
  font-weight: 10;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-items li {
  border-bottom: 2px transparent solid;
}

.nav-items li:hover {
  border-bottom: 2px #e67e22 solid;
  transition: border-bottom 0.5s;
}

/*-------------------------------------------------------*/
/*                      Meals*/
/*-------------------------------------------------------*/

.long-copy {
  padding: 10px 100px;
  font-size: 90%;
  margin-bottom: 30px;
}

.meal-columns {
  text-align: center;
  margin-bottom: 60px;
}

.meal-paragraph-format {
  text-align: start;
  font-size: 90%;
}

ion-icon {
  font-size: 60px;
  padding-right: 180px;
  margin: 1px;
  color: #e67e22;
  text-align: left;
}

.img-row-meals {
  width: 100%;
  margin: 0;
  padding: 0;
}

.meal-photo {
  width: 25%;
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
}

.meal-photo img {
  opacity: 1;
  width: 100%;
  transform: scale(1.15);
  height: auto;
}

.meal-photo img:hover {
  opacity: 0.95;
  transform: scale(1.03);
  transition: transform 0.5s, opacity 0.5s;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*-------------------------------------------------------*/
/*                      Places*/
/*-------------------------------------------------------*/

.section-places {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.container-places {
  width: 100%;
  margin-left: 80px;
  margin-top: 40px;
}

.show-places {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.toTop {
  transform: translate(0, -0.8rem);
  transition: all 0.4s;
}

.toBottom {
  transform: translate(0, -0.1rem);
  transition: all 0.4s;
}

.show-places img {
  width: 100%;
}

.show-places li {
  list-style: none;
}

.place-contents {
  width: 100%;
  text-align: left;
  margin-top: 14px;
}

.place-icons {
  float: left;
  font-size: 100% !important;
  position: relative;
  left: -30px;
  top: 26px;
}

/*-------------------------------------------------------*/
/*                      How it works*/
/*-------------------------------------------------------*/

.section-steps {
  width: 100%;
  height: 125vh;
}

.howItWorks {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 10px;
  width: 100%;
}

.app-phone {
  text-align: end;
}

.steps img {
  width: 240px;
}

.steps-list {
  margin-top: 5rem;
}

.steps-list div {
  float: left;
  padding-right: 4px;
  border: 2px solid #e67e22;
  color: #ddd;
  padding: 8px 18px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.steps-list li {
  list-style: none;
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 100%;
  letter-spacing: 1px;
  word-spacing: 1px;
  transform: translate(0, -10%);
}
